/* @media screen and (min-width: 1600px) {
#sidebar{
    
}
  } */

#nav-link:hover {
    color: #54b3d6;
    transition: 0.2s;
}
  
#logout {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  #logout:hover {
    background: #03e8f48e;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  #logout span {
    position: absolute;
    display: block;
  }
  
  #logout span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
 
  }
  

  
  #logout span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
 
  }
  

  
  #logout span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
  
  }
  
  
  #logout span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);

  }

  @media only screen and (max-width:600px) {
    #cdbside {
      max-width: 200px !important;
    }

  }
 